<table width="100%">
	<tr>
		<td width="150px">
			<div style="height:40px; width:143px;background-repeat: no-repeat;
			background-image:url(/logo.svg);"></div>		
		</td>
		<td>
			<span class="slds-text-heading--large">Hello Heroku!</span>
		</td>
	</tr>
</table>



